@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1vh;
}
a {
  text-decoration: none;
}
header {
  width: 100vw;
  height: 10vh;
  background-position: bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-content {
  color: whitesmoke;
  text-align: center;
}