* {
  box-sizing: border-box;
}

html,
body,

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  width: 1170px;
  height: 99vh;
  margin-left: auto;
  margin-right: auto; 
}

.main {
  display: flex;
  justify-content: center;  
}