@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
a {
  text-decoration: none;
}
header {
  width: 100vw;
  height: 6vh;
  background-position: bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--line-line-01, #f1f3f6);  
  margin-bottom: 2vh;
}
.header-content {
  color: whitesmoke;
  text-align: center;
}
.frame {
  flex: 1 1 0%;
  height: 100%;
  padding-bottom: 80px;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  min-width: 360px;  
  padding: 0px 20px;
  margin: 0px auto;
}
.calculator {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  border: 1px solid #e9ebef;
  border-radius: 8px;
  padding: 20px;  
}